.contact-card {
  position: absolute;
  margin: auto;
  left: 20%;
  top: 20%;
  color: white;
  background-color: teal;
  border: 1px solid black;
  word-wrap: break-word;
  transform: translate(-50%, 50%);
  width: 30%;
}

.contact-card:hover {
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 1);
  transform: scale(1.05) translate(-50%,50%);
  transition: transform 1.2s ease-in-out;
}
.contact-card-header {
  text-align: center;
}
.contact-card > p {
  margin: 20px;
  padding: 10px;
}

a {
  margin-left: 10px;
  color: white;
}

@media (max-width: 1000px) {
  .contact-card {
    left: 50%;
    margin-top: 105%;
    width: 85%;
  }
}
