.profile {
  background-image: url("../../static/assets/hb.jpg");
  object-fit: contain;
  word-wrap: break-word;
  overflow: auto;
  text-align: center;
}

h1{
  color: white;
  word-wrap: none;
  font-size: 1.5em;
  margin: 10px;
  padding: 10px;
}

.profile-header {
  position: relative;
  margin-top: 100px;
}

.profile-introduction {
  display: grid;
  grid-template-columns: 35% 30%;
  justify-content: space-around;
}
.profile-contact,
.profile-details {
  margin: 30% 0px;
}

@media (max-width: 1200px) {
  .profile-introduction {
    display: grid;
    grid-template-columns: 55% 35%;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  h1.profile-header {
    font-size: 1.2rem;
  }

  .profile-introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .profile-details {
    order: 1;
    width: 95%;
    margin-top: 15%;
    padding: 0;
  }
  .profile-contact {
    order: 2;
    width: 95%;
    margin: 0;
    padding: 0;
  }
}
