.profile-card {
  margin:  0% 5%;
  color: white;
  background-color: teal;
  border: 1px solid black;
  word-wrap: break-word;
}

.profile-card > img {
  width: 100%;
}

.profile-card-container {
  padding: 2px 16px;
}

.profile-card-contacts{
  text-align: start;
  list-style: none;
  
}

.profile-card-contacts li{
  color:white;
  margin: 10px;
  padding: 10px;
}

.profile-card-contacts li a{
  color:white;
}

.profile-card-container > p {
  margin: 10px;
}

.profile-card:hover {
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 1);
  transform: scale(1.05);
  transition: transform .5s ease-in-out;
}
